
.header {
  background-color: #442C2E;
  text-align: center;
  height: 80px;
  padding: 10px;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-size: 30px;
    margin: 0;
  }
}
